#meinfo-presentation-section {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 300px;
}
#meinfo-content-container {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
    height: 100vh;
}
#meinfo-nav-section {
    border: 1px solid black;
    display: inline-block;
    width: 60%;
    margin: 10px 10px;
    height: auto;
}
#meinfo-nav-list > li {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
}
#meinfo-stats-section {
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    display: inline-block;
    margin: 10px 10px;
    width: 35%;
    height: 100px;
}
