#meuploads-list > li {
    display: block;
    position: relative;
    margin: 20px;
    text-decoration: none;
}
.meuploads-list-item-date {
    margin-left: 50px;
}
.meuploads-list-item-delete {
    margin-left: 20px;
}
